/* Board.css */
.custom-tab-link {
  color: rgb(119, 10, 110) !important;
}

/* 탭 활성화 시의 색상도 변경하고 싶은 경우 */
.custom-tab-link.active {
  background-color: rgb(138, 31, 129) !important;
  color: white !important;
}
