/* 전체 페이지 컨테이너에 양 옆 여백을 20%로 설정 */
.page-wrapper {
  margin: 0 10%;
  margin: 10 auto; /* 수평 가운데 정렬 */
  min-width: 800px; /* 최소 너비 */
}


/* 컨텐츠 컨테이너에 양 옆 여백을 20%로 설정 */
.content-wrapper {
  margin: 0 10%;
  max-width: 100%;
  margin: 0 auto; /* 수평 가운데 정렬 */
}


.header-content {
  margin: 10;
  padding-left: 10%;
  padding-right: 10%;
}