/* 전체 페이지 컨테이너에 양 옆 여백을 20%로 설정 */
.page-wrapper {
  margin: 0 20%;
}

/* 컨텐츠 컨테이너에 양 옆 여백을 20%로 설정 */
.content-wrapper {
  margin: 0 20%;
}


.header-content {
  margin: 10;
  padding-left: 10%;
  padding-right: 10%;
}